body{
  background-color: #ededed;
  text-align: center;
  font-size: 2em;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  height: 100vh;
}

.display {
  border: 1px solid black;
  grid-column: span 4;
  max-width: 500px;
  height: 80px;
  text-align: right;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

button {
  font-size: 2rem;
  padding: 20px;
}

.buttons {
  max-width: 500px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-span-2{
  grid-column: span 2;
}


